.box {
  background: url("https://cdn.xiongmaolaoshi.com/panda/website_pc/comn/acquire-bg.png") no-repeat;
  background-size: 19.2rem 6.03rem;
  width: 100%;
  height: 6.03rem;
  padding-top: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  background: url("https://cdn.xiongmaolaoshi.com/panda/website_pc/comn/acquire-title-bg.png") no-repeat;
  background-size: 3.6rem 0.6rem;
  margin: 0 auto;
  width: 3.6rem;
  height: 0.6rem;
  line-height: 0.6rem;
  text-align: center;
  font-size: 0.4rem;
  font-family: SourceHanSansCN;
  font-weight: 500;
  color: rgba(51, 51, 51, 1);
  letter-spacing: 0.02rem;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -0.2rem;
  margin-top: 0.7rem;
}

.list-item {
  width: 2.8rem;
  height: 3.12rem;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0.2rem;
}

.item-img{
  width: 100%;
}
.item-title {
  font-size: 0.24rem;
  font-weight: 500;
  color: rgba(21, 21, 21, 1);
  line-height: 0.36rem;
  letter-spacing: 0.015rem;
  margin-top: 0.2rem;
}
.item-text{
  font-size:0.18rem;
  font-weight:400;
  color:rgba(102, 102, 102, 1);
  line-height:0.27rem;
  margin-top: 0.05rem;
}
.list-item:hover {
  box-shadow: 0rem 0rem 0.08rem 0rem rgba(229, 229, 229, 1);
  background-color: #fff;
}
.list-item:hover .item-title {
  color: #FF5813;
}
