  .box {
    position: relative;
    background: url("https://cdn.xiongmaolaoshi.com/panda/website_pc/comn/teachstyle-bg.png") no-repeat;
    background-size: 19.2rem 7.2rem;
    background-attachment: fixed;
    width: 100%;
    height: 7.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6)
  }

  .title {
    position: absolute;
    top: 1.2rem;
    font-size: 0.4rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    line-height: 0.63rem;
    letter-spacing: 0.015rem;
  }

  .list{
    position: absolute;
    top: 2.42rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .list-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    letter-spacing: 0.02rem;
  }
  .item-icon{
    width:1.72rem;
    height:1.72rem;
    line-height: 1.72rem;
    text-align: center;
    background:rgba(255, 255, 255, 1);
    border-radius: 50%;
    overflow: hidden;
  }
  .item-img{
    width: 0.72rem;
    height: 0.72rem;
    margin: 0 auto;
    transition: all .4s;
  }
  .item-img:hover{
    transform: scale(1.1);
  }
  .item-title{
   font-size:0.24rem;
   font-weight:500;
   margin-top: 0.3rem;
  }
  .item-text{
    font-size: 0.18rem;
    margin-top: 0.14rem;
  }

  .right-icon{
    width: 0.18rem;
    right: 0.3rem;
    margin: 0 0.3rem;
    margin-top: -0.8rem;
  }